/* Stiziles */
/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
/*
@font-face {
    font-family: 'andalus';
    src: url('../fonts/andalus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

html, body, #content, .main {
  background: #222;
  height:100%;
  width: 100%;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
