@import './layout.less';
@import '../components/front/front.less';
@import '../components/albums/album.less';
@import '../components/albums/subpage.less';
@import '../components/about/about.less';
@import '../components/portfolio/portfolio.less';
@import '../components/pricing/pricing.less';

@color-primary: #36384C;

html, body, #content, .main {
  background: #fff;
  color: @color-primary;
  font-family: 'Allura';//'GlacialIndifference';
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: local('Allura'), local('Allura-Regular'), url("../fonts/allura.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  // background-image: data-uri("../images/noise.png");
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
