
.about {
  font-family: 'GlacialIndifference';

  max-width: 35em;
  margin: 0 auto;

  .photo-container {
    margin: 1em 0;
  }

  img {
    //float: left;
    height: 7em;
    display: inline-block;
    vertical-align: bottom;
  }
  h1 {
    display: inline-block;
    margin: 0 0 0 0.5em;
  }

  input, textarea, button {
    width: 100%;
    display: block;
    padding: 0.25em;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    border: 1px solid #aaa;
    box-sizing: border-box;
  }

  button {
    background: #ddd;
  }

  textarea {
    resize: none;
  }


  input {
  }
  .email {
    margin-bottom: 1em;
    .prompt {
      margin-bottom: 0.5em;
    }
  }
}
