
@import '../../styles/layout.less';

.front, .front > div{
  height: 100%;
  width: 100%;
}

.front{
  position: relative;

  > div {
    position: absolute;
    top:0;
    left: 0;

    background-size: cover;
    background-position: center;

    &.wallpaper {
      opacity: 0;
    }
    &.visible {
      opacity: 1;
    }
  }
}

.front .overlay{
  //background-color: fadeout(#000, 50%);
}

@light-text-shadow: 0 0 70px #000;

div.logo {
  position: absolute;
  bottom: 2em;
  right: 2em;
  height: 7em;

  img.logo {
    height: 100%;
  }

}

.nav{
  box-sizing: border-box;
  a{
    color:#FFF;
    text-decoration: none;
    font-family:sans-serif;
    margin: 0;
    display: inline-block;

    transition: color 0.5s ease-out;
    &:hover{
      color: #FEFB00;
    }
  }
}

.header {
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.5);

  > * {
    display: inline-block;
  }

  i {
    font-size: 1.75em;
    cursor: pointer;
  }

  a {
    &:hover {
      color: #ddd;
      text-decoration: none;
    }
  }

  .social {
    //margin-right: 1em;
    a {
      font-size: 0.5em;
      margin-right: 1em;
    }
  }

  > a:last-child {
    margin-right: 0.5em;
  }

  a, .header-category {
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  > a, .header-category {
    margin-right: 1em;
    font-size: 1.25em;
  }

  .header-category {
    position: relative;
    cursor: default;

    .dropdown-content {
      position: absolute;
      top: 1.5em;
      right: 0;
      font-size: 0.85em;
      width: 9em;
      text-align: right;
      a {
        display: block;
        padding-top: 0.25em;
      }

      visibility: hidden;
      opacity: 0;
      transition-property: opacity, visibility;
      transition-duration: .4s, 0s;
      transition-delay: 0s, .4s;
    }
  }

  .header-category:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }

  @media @screen-sm {
    text-align: left;

    *,a, .header-category {
      display: none;
      text-align: right;
    }
    a,.header-category {
      padding: 0.5em;
      margin: 0;
    }
    button.hamburger {
      display: inline-block;
    }

    &.open {
      background-color: rgba(0,0,0,0.75);

      * > {
        display: block;
      }

      .hamburger i:before {
        content: "\f00d";
      }
    }
  }

  .hamburger {
    display: none;
    background-color: rgba(0,0,0,0);
    border: none;
  }

}
