.front, .front div{
  height: 100%;
  width: 100%;
}

.front{
  position: relative;

  div {
    position: absolute;
    top:0;
    left: 0;

    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-out;

    &.wallpaper {
      opacity: 0;
    }
    &.visible {
      opacity: 1;
    }
  }
}

.front .overlay{
  background-color: fadeout(#000, 50%);
}

img {
  height:150px;
  width:300px;
}
